.title {
    text-align: left;
}

.creativeWorksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.ah-teng {
    display: flex;
    gap: 50px;
}

.life-of-abundance {
    display: flex;
    gap: 50px;
}

.description {
    width: 500px;
}

.subtitle {
    font-weight: 600;
    margin-top: 25px;
}

.my-scar {
    display: flex;
    gap: 50px;
}

.my-scar-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 800px;
}

.my-scar-img {
    width: auto;
    height: 400px;
}