.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.research-image {
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: 250px;
}