html {
    background-color: #ffff;
    /* Fonts: Alef, Consolas, Robot Mono*/
    font-family: 'Roboto Mono';
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* gap: 50px; */
}

.headshotContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono';
    font-size: 16px;
    text-align: center;
}

.headshot {
    width: 300px;
    /* Adjust image size */
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

.bioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.bio {
    display: flex;
    height: 100%;
    text-align: left;
    font-family: 'Roboto Mono';
    gap: 20px;
    align-items: stretch;
}

.bioIntro {
    font-size: 18px;
    width: 350px;
    background-image: url('../images/grey-background.jpeg');
    /* Adjust the path if needed */
    background-size: cover;
    /* Ensures the image covers the entire container */
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.bioBody {
    font-size: 16px;
    height: 100%;
    width: 550px;
}

.emailLink {
    color: black;
}

.titleContainer {
    text-align: Left;
    margin-bottom: 20px;
}

.titleContainer h1 {
    margin: 0px;
    font-family: 'Roboto Mono';
    font-size: 40px;
    font-weight: 100;
}

.titleContainer h3 {
    margin: 0px;
    font-family: 'Roboto Mono';
    font-size: 20px;
    font-weight: 100;
}

h1 {
    text-align: left;
}

.footer {
    margin-top: auto;
    /* margin-top: 40px; */
    padding: 20px;
    text-align: center;
}

.iconContainer {
    display: flex;
    padding: 20px;
    justify-content: center;
    /* Center icons horizontally */
    gap: 10px;
    /* Space between icons */
}

/* Style for Icons */
.icon {
    width: 30px;
    /* Set small size */
    height: auto;
    transition: transform 0.2s ease-in-out;
}

/* Add Hover Effect */
.iconContainer .icon:hover {
    transform: scale(1.2);
    /* Slightly enlarge on hover */
}



/* img{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
} */

/* Position Menu Button at Top Right */
#menu-btn {
    font-size: 25px;
    padding: 10px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    /* Moves the button to the right side */
    z-index: 1000;
}

/* Side Menu Styling */
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    /* Change from left to right */
    background: white;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}

/* Menu Links */
.menu a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

.menu a:hover {
    background: #575757;
}

/* Close Button (Inside Menu) */
#close-btn {
    /* position: absolute; */
    top: 10px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}